body {
    text-align: center;
}

input {
    margin-top: 3rem;
    height: 3rem;
    width: 30rem
}

img {
    position: absolute;
    top: 30rem;
    left: 25%;
    width: 50%;

}

#download {
    position: absolute;
    top: 20rem;
    width: 10%;
    left: 45%;
}

#terminaison-input {
    color: red;
    margin-bottom: 15rem;
}